{% extends "base/base.html.twig" %}

{% block title %}
    Creer un article
{% endblock  %}

{% block body %}
    
    {{form_start(form)}}
        <div class="form-group mb-3">
            <label for="auteur" class="form-label">Nom :</label>
            {{form_widget(form.auteur, {'attr':{'class':'form-control',
            'placeholder':'votre nom...'
            }})}}
        </div>
        <div class="form-group mb-3">
            <label for="contenu" class="form-label">contenu de l'article :</label>
            {{form_widget(form.contenu, {'attr':{'class':'form-control',
            'placeholder':'donner nous le fond de votre pensée'}})}}
        </div>
        {% if ModeCreation %}
            <div class="form-group mb-3">
                <label for="categorie" class="form-label">Dans la categorie :</label>
                <select name="categorie" class="form-select" id="">
                    {% for categorie in categories %}
                        <option value="{{categorie.id}}" name="{{categorie.id}}">{{categorie.titre}}</option>
                    {% endfor %}
                </select>
            </div>           
        {% endif %}
        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">
                {% if ModeCreation %}
                   Creer l'article 
                {% else %}
                    Appliquer les modifications
                {% endif %}
            </button>
        </div>
    {{form_end(form)}}

{% endblock  %}