{% extends "base/base.html.twig" %}

{% block Title %} {{article.auteur}} {% endblock %}
{% block body %}
<div class="container">
    <img src="https://via.placeholder.com/1000x350" alt="" class="img col-12">
    <div class="row">
        <div class="col-9">
            <p class="p">{{article.contenu}}</p>
        </div>
        <div class="col-2">
            <h5 class="h6">Redigé par {{article.auteur}}</h3>
                <small>Le {{article.createdAt|date("d/m/Y")}} à {{article.createdAt|date("H:i")}}</small>
        </div>
    </div>
</div>

{#{% form_theme form 'foundation_5_layout.html.twig' %}#}
{{form_start(form)}}
{% include "articles/includes/_commenter.html.twig" %}
{{form_end(form)}}
{% endblock %}
