{% extends "base/base.html.twig" %}

{% block Title %} {{article.auteur}} {% endblock %}
{% block body %}
<div class="container mb-4">
    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="img col-12">
    <div class="row">
        <div class="col-9">
            <p class="p">{{article.contenu}}</p>
        </div>
        <div class="col-2">
            <h5 class="h6">Redigé par {{article.auteur}}</h3>
                <small>Le {{article.createdAt|date("d/m/Y")}} à {{article.createdAt|date("H:i")}}</small>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                {% for commentaire in commentaires %}
                    <h5 class="h6 col-4">
                        <div class="row">
                            {{commentaire.auteur}} :
                            <small>Ecrit le : {{commentaire.createdAt|date("d/m/Y")}}</small>
                        </div> 
                    </h5>
                    <p class="p col-8">
                        {{commentaire.contenu}}
                    </p>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            {{form_start(form)}}
            {% include "articles/includes/_commenter.html.twig" %}
            {{form_end(form)}}
        </div>
    </div>
</div>
{#{% form_theme form 'foundation_5_layout.html.twig' %}#}


{% endblock %}
