{{ form_start(form) }}
<div class="form-group mb-3">
    {{form_row(form.auteur)}}
</div>
<div class="form-group mb-3">
    {{form_row(form.contenu)}}
</div>
<div class="form-group mb-3">
    {{form_row(form.images)}}
</div>
<div class="form-group mb-3">
    {{form_row(form.categorie)}}
</div>
<div class="form-group mb-3">
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}