<div class="container">
    <h1 class="h1 mb-3">Liste de nos dernier articles</h1>
    <div class="row">
        {% for article in articles %}
        <div class="col-md-12 col-lg-4 mb-3">
           
                <div class="card h-100" style="width: 18rem;">
                    <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('small')}}" class="card-img-top img" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{article.contenu | u.truncate(100, '...', false)}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">écrit par {{article.auteur}} le {{article.createdAt |
                            date("d/m/Y")}} à
                            {{article.createdAt | date("H:m")}}</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <a href="{{path('article_show',{'id':article.id})}}" class="btn btn-primary text-center">Lire la suite</a>
                    </ul>
                </div>
            
        </div>
        {% endfor %}
    </div>
</div>
